**/web-export/*
node_modules
bower_modules
**/node_modules/*
**/bower_modules/*
.git
config
.project
.settings
.externalToolBuilders
**/.DS_STORE
.DS_STORE
CVS
*/CVS
*.pyc
*.pyo
misc
render-tests
Render*
TASKS.txt
test/CVS
test/node
build
rita-*.tgz
